{
  "openapi": "3.1.0",
  "info": {
    "title": "GitHub Repo and Issues API",
    "description": "Read repository context and create/list issues for __OWNER__/bun-bun-bunny-dash",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "paths": {
    "/repos/{owner}/{repo}": {
      "get": {
        "operationId": "getRepository",
        "summary": "Get repository metadata",
        "description": "Get basic repository information such as default branch, description, and visibility.",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "__OWNER__"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "bun-bun-bunny-dash"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Repository metadata"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/contents": {
      "get": {
        "operationId": "listRootContents",
        "summary": "List repository root contents",
        "description": "List files and directories at the repository root.",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "__OWNER__"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "bun-bun-bunny-dash"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The name of the commit/branch/tag. If omitted, the default branch is used."
          }
        ],
        "responses": {
          "200": {
            "description": "List of files and directories in repository root"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/contents/{path}": {
      "get": {
        "operationId": "getContent",
        "summary": "Get file or directory contents by path",
        "description": "Get the contents of a file or list the contents of a directory in the repository.",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "__OWNER__"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "bun-bun-bunny-dash"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path to the file or directory, for example: Assets/Scripts/Player/PlayerMovement.cs"
          },
          {
            "name": "ref",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The name of the commit/branch/tag. If omitted, the default branch is used."
          }
        ],
        "responses": {
          "200": {
            "description": "File content or directory listing"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/issues": {
      "get": {
        "operationId": "listIssues",
        "summary": "List issues",
        "description": "List issues in the target repository. Use this before creating a new issue to avoid duplicates.",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "__OWNER__"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "bun-bun-bunny-dash"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed",
                "all"
              ],
              "default": "open"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of issues"
          }
        }
      },
      "post": {
        "operationId": "createIssue",
        "summary": "Create an issue",
        "description": "Create a new issue in the target repository.",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "__OWNER__"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "bun-bun-bunny-dash"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Issue title"
                  },
                  "body": {
                    "type": "string",
                    "description": "Issue body in Markdown"
                  },
                  "labels": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional labels"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Issue created"
          }
        }
      }
    }
  }
}
